<header class="site-header cf">
            <div class="container">
                <div class="site-title">{{ site.title }}</div>
             <nav class="navbar">

                <ul class="header-nav">
                    <li><a href="#">Blog</a></li>      
                    <li><a href="#">About Me</a></li>      
                    <li><a href="#">Portfolio</a></li>      
                    <li><a href="#">Contact</a></li>      
                </ul>

             </nav>
         </div>

         </header>